## PyMySQL - Akses Database dan Membuat Table

Berikut ini cara akses database dan membuat sebuah tabel di database menggunakan modul pymysql

Sumber : https://www.youtube.com/watch?v=fiA8o8TrAJ0

In [1]:
#memasukan modul yang digunakan
import pymysql

In [2]:
#Membuka koneksi ke database
db = pymysql.connect("localhost", "testuser", "test123", "TESTDB")

In [3]:
#fungsi kursor
cursor = db.cursor()

In [6]:
#menghilangkan tabel employee jika sebelumnya ada di dalam database
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

0

In [9]:
#membuat tabel di database
sql = """ CREATE TABLE EMPLOYEE (
          FIRST_NAME CHAR(20) NOT NULL,
          LAST_NAME CHAR(20), 
          AGE INT,
          SEX CHAR(1),
          INCOME FLOAT )
      """

In [10]:
#mengeksekusi pembuatan tabel
cursor.execute(sql)

0

In [11]:
#menghentikan koneksi ke database/menutup database
db.close()

                        ##Semoga Bermanfaat
                        ##Raspiani_