## PyMySQL - Operasi Membaca dalam Database

Berikut ini cara melakukan operasi baca di dalam database menggunakan python.

Sumber : https://www.tutorialspoint.com/python3/python_database_access.htm

#### Berikut ini cara mengakses nilai dari tabel EMPLOYEE yang memiliki gaji lebih dari 1000

In [42]:
#memasukan modul yang digunakan
import pymysql

In [43]:
#membuka koneksi ke database
db = pymysql.connect("localhost", "testuser", "test123", "TESTDB")

In [44]:
#metode cursor()
cursor = db.cursor()

In [45]:
#kueri SQL untuk mengakses nilai dari tabel imployee yang memiliki gaji > 1000
sql = "SELECT * FROM EMPLOYEE WHERE INCOME > '%d'" % (1000)

In [46]:
#mengeksekusi kueri sql
#hasil income berbentuk bulat
try: 
    cursor.execute(sql) #perintah mengeksekusi sql
    hasil = cursor.fetchall() #mengambil semua baris dari list of the lists
    
    for baris in hasil:
        first_name = baris[0]
        last_name = baris[1]
        age = baris[2]
        sex = baris[3]
        income = baris[4]
        #menampilkan hasilnya
        print("first_name = %s, last_name = %s, age = %d, sex = %c, income = %d" % (first_name, last_name, age, sex, income))
except:
    print("Error: unable to fetch data")

first_name = Mac, last_name = Mohan, age = 20, sex = M, income = 2000
first_name = Tom, last_name = Jhonson, age = 21, sex = M, income = 4500

In [47]:
#mengeksekusi kueri sql
#hasil income berbentuk float
try: 
    cursor.execute(sql) #perintah mengeksekusi sql
    hasil = cursor.fetchall() #mengambil semua baris dari list of the lists
    
    for baris in hasil:
        first_name = baris[0]
        last_name = baris[1]
        age = baris[2]
        sex = baris[3]
        income = baris[4]
        #menampilkan hasilnya
        print("first_name = {}, last_name = {}, age = {}, sex = {}, income = {}".format(first_name, last_name, age, sex, income))
except:
    print("Error: unable to fetch data")

first_name = Mac, last_name = Mohan, age = 20, sex = M, income = 2000.0
first_name = Tom, last_name = Jhonson, age = 21, sex = M, income = 4500.0

In [48]:
#menutup database
db.close()

                                ##Semoga Bermanfaat
                                ##Raspiani_